<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center">{{ "myTickets.ticketNo" | translate }}</th>
      <th class="text-center">{{ "myTickets.subject" | translate }}</th>
      <th class="text-center">{{ "myTickets.customerName" | translate }}</th>
      <th class="text-center">{{ "myTickets.customerEmail" | translate }}</th>
      <th class="text-center">{{ "myTickets.message" | translate }}</th>
      <th class="text-center">{{ "myTickets.ticketSeverity" | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(ticket of this.filteredTickets(); track $index){

    <tr>
      <td>
        <a
          [routerLink]="['/helpdesk/ticket-details', ticket.id]"
          routerLinkActive="router-link-active"
          >{{ ticket.id }}</a
        >
      </td>
      <td>{{ ticket.subject }}</td>
      <td>{{ ticket.name }}</td>
      <td>{{ ticket.email }}</td>
      <td>{{ ticket.message }}</td>
      <td [style.color]="getSeverityColor(ticket.ticketSeverityId)">
        {{ getSeverityName(ticket.ticketSeverityId) }}
      </td>
      <td>
        <button
          [disabled]="ticket.isResolved"
          (click)="resolveTicket(ticket.id)"
          class="btn btn-primary"
        >
          {{ ticket.isResolved ? "Resolved" : "Resolve" }}
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
