@if(!isLoggedIn){
<div class="d-flex justify-content-center align-items-center vh-100">
  <div
    class="card p-4 shadow"
    style="min-width: 300px; max-width: 400px; width: 100%"
  >
    <!-- Language Selector -->
    <div class="d-flex justify-content-end mb-3">
      <app-language-selector></app-language-selector>
    </div>

    <h2 class="text-center mb-4">{{ "auth.login.title" | translate }}</h2>
    <form (ngSubmit)="login()" action="/login">
      <div class="mb-3">
        <input
          class="form-control"
          type="text"
          name="username"
          [(ngModel)]="username"
          [placeholder]="'auth.login.username' | translate"
          autofocus
          required
        />
      </div>
      <div class="mb-3">
        <input
          class="form-control"
          type="password"
          name="password"
          [(ngModel)]="password"
          [placeholder]="'auth.login.password' | translate"
          required
        />
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit">
          {{ "auth.login.loginButton" | translate }}
        </button>
      </div>
      <div>
        @if(errorMessage()){
        <p class="text-danger text-center">{{ errorMessage() }}</p>
        }
      </div>
    </form>
    <p class="text-center mb-0">
      {{ "auth.login.registerLink" | translate }}
      <a href="/register">{{ "auth.register.title" | translate }}</a>
    </p>
  </div>
</div>
} @else {
<div class="login-message">
  <p>
    You are already logged in. Please click the button below to go to your
    Dashboard.
  </p>
  <button class="btn btn-primary go-dashboard-btn" (click)="navigateToHome()">
    Go to Dashboard
  </button>
</div>
}
