<div class="container mt-5 mb-5">
  <h1 class="text-center text-success mb-4 fw-bold section-title">
    {{ "howToBudget.title" | translate }}
  </h1>

  <p class="lead text-center">
    {{ "howToBudget.subtitle" | translate }}
  </p>

  <div class="highlight my-4 strong-text">
    <strong>{{ "howToBudget.zeroBased.title" | translate }}</strong>
    {{ "howToBudget.zeroBased.description" | translate }}
    <strong>{{ "howToBudget.zeroBased.zero" | translate }}</strong
    >.
  </div>

  <h3 class="section-title">
    {{ "howToBudget.steps.step1.title" | translate }}
  </h3>
  <p>
    {{ "howToBudget.steps.step1.description" | translate }}
  </p>

  <h3 class="section-title">
    {{ "howToBudget.steps.step2.title" | translate }}
  </h3>
  <p>
    {{ "howToBudget.steps.step2.description" | translate }}
  </p>

  <h3 class="section-title">
    {{ "howToBudget.steps.step3.title" | translate }}
  </h3>
  <p>{{ "howToBudget.steps.step3.description" | translate }}</p>
  <ul>
    <li>
      <strong>{{ "howToBudget.steps.step3.walls.food" | translate }}</strong>
    </li>
    <li>
      <strong>{{
        "howToBudget.steps.step3.walls.utilities" | translate
      }}</strong>
    </li>
    <li>
      <strong>{{ "howToBudget.steps.step3.walls.shelter" | translate }}</strong>
      {{ "howToBudget.steps.step3.walls.shelterDetail" | translate }}
    </li>
    <li>
      <strong>{{
        "howToBudget.steps.step3.walls.transportation" | translate
      }}</strong>
    </li>
  </ul>

  <h3 class="section-title">
    {{ "howToBudget.steps.step4.title" | translate }}
  </h3>
  <p>
    {{ "howToBudget.steps.step4.description" | translate }}
  </p>

  <h3 class="section-title">
    {{ "howToBudget.steps.step5.title" | translate }}
  </h3>
  <p>
    {{ "howToBudget.steps.step5.description" | translate }}
  </p>

  <h3 class="section-title">
    {{ "howToBudget.steps.step6.title" | translate }}
  </h3>
  <p>
    {{ "howToBudget.steps.step6.description" | translate }}
  </p>

  <hr class="my-5" />

  <p class="footer-quote text-center">
    {{ "howToBudget.quote" | translate }}
  </p>
</div>
