<!-- This page does not work yet -->
<div class="container py-5">
  <div
    class="card border-primary shadow create-ticket-card"
    style="max-width: 500px; margin: 0 auto"
  >
    <div class="card-header text-white">
      <h4 class="mb-0">{{ "createTicket.title" | translate }}</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="ticketForm">
        <div class="mb-3">
          <label for="name" class="form-label fw-bold">{{
            "createTicket.form.name.label" | translate
          }}</label>
          <input
            formControlName="name"
            type="text"
            id="name"
            class="form-control"
            [placeholder]="'createTicket.form.name.placeholder' | translate"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label fw-bold">{{
            "createTicket.form.email.label" | translate
          }}</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
            [placeholder]="'createTicket.form.email.placeholder' | translate"
          />
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label fw-bold">{{
            "createTicket.form.subject.label" | translate
          }}</label>
          <input
            formControlName="subject"
            type="text"
            id="subject"
            class="form-control"
            [placeholder]="'createTicket.form.subject.placeholder' | translate"
          />
        </div>
        <div class="mb-3">
          <label for="ticketSeverity" class="form-label fw-bold">{{
            "createTicket.form.severity.label" | translate
          }}</label>
          <select
            id="ticketSeverity"
            class="form-select"
            formControlName="ticketSeverityId"
          >
            <option value="">
              {{ "createTicket.form.severity.placeholder" | translate }}
            </option>
            @for(severities of this.ticketSeverities.value(); track $index){
            <option [value]="severities?.id">{{ severities?.value }}</option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label fw-bold">{{
            "createTicket.form.message.label" | translate
          }}</label>
          <textarea
            formControlName="message"
            id="message"
            class="form-control"
            rows="4"
            [placeholder]="'createTicket.form.message.placeholder' | translate"
          ></textarea>
        </div>
        <button
          (click)="submitTicket()"
          class="btn btn-gradient-green w-100 mt-3"
        >
          {{ "createTicket.form.submit" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
