<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">{{ "addExpense.title" | translate }}</h5>
    </div>
    <div class="card-body">
      @if (isSuccess()) {
      <div class="alert alert-success" role="alert">
        {{ "addExpense.success" | translate }}
      </div>
      } @else if (isError()) {
      <div class="alert alert-danger" role="alert">
        {{ "addExpense.error" | translate }}
      </div>
      }
      <form [formGroup]="expenseForm">
        <div class="mb-3">
          <label for="category" class="form-label">
            {{ "addExpense.form.paycheck.label" | translate }}:
            <span class="text-danger">{{
              "addExpense.form.category.required" | translate
            }}</span>
          </label>
          <select
            formControlName="paycheckId"
            name="paycheckId"
            id="paycheck"
            class="form-select"
            (change)="
              selectCategory(this.expenseForm.get('categoryId')?.value ?? 0)
            "
            required
          >
            <option value="" disabled selected>
              {{ "addExpense.form.paycheck.placeholder" | translate }}
            </option>
            @for (paycheck of this.paycheckInfo.value(); track $index) {
            <option [value]="paycheck.id">
              {{ "addExpense.form.paycheck.option" | translate }}
              {{ $index + 1 }} - {{ paycheck.payDate | date : "shortDate" }}
            </option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">
            {{ "addExpense.form.category.label" | translate }}:
            <span class="text-danger">{{
              "addExpense.form.category.required" | translate
            }}</span>
          </label>
          <select
            formControlName="categoryId"
            name="categoryId"
            id="category"
            class="form-select"
            (change)="
              selectCategory(this.expenseForm.get('categoryId')?.value ?? 0)
            "
            required
          >
            @for (category of this.categories.value(); track $index) {
            <option [value]="category.id">{{ category.name }}</option>
            }
          </select>
        </div>
        @if(expenseForm.controls.categoryId.value != 10) {

        <div class="mb-3">
          <label for="subcategory" class="form-label">
            {{ "addExpense.form.subcategory.label" | translate }}:
            <span class="text-danger">{{
              "addExpense.form.subcategory.required" | translate
            }}</span>
          </label>
          <select
            formControlName="subcategoryId"
            name="subcategoryId"
            id="subcategory"
            class="form-select"
          >
            @for (subcategory of subcategories(); track $index) {
            <option [value]="subcategory.id">
              {{ subcategory.name }}
            </option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">
            {{ "addExpense.form.name.label" | translate }}:
            <span class="text-danger">{{
              "addExpense.form.name.required" | translate
            }}</span>
          </label>
          <input
            type="text"
            formControlName="name"
            name="name"
            id="name"
            class="form-control"
          />
        </div>
        }

        <div class="mb-3">
          <label for="payment" class="form-label">
            {{
              expenseForm.controls.categoryId.value == 10
                ? ("addExpense.form.payment.labelAmount" | translate)
                : ("addExpense.form.payment.label" | translate)
            }}:
            <span class="text-danger">{{
              "addExpense.form.payment.required" | translate
            }}</span>
          </label>
          <input
            type="number"
            formControlName="payment"
            name="payment"
            id="payment"
            class="form-control"
            required
          />
        </div>
        @if(expenseForm.controls.categoryId.value != 10) {

        <div class="mb-3">
          <label for="payment" class="form-label"
            >{{ "addExpense.form.totalBalance.label" | translate }}:
          </label>
          <input
            type="number"
            formControlName="totalBalance"
            name="payment"
            id="payment"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="dueDate" class="form-label">
            {{ "addExpense.form.dueDate.label" | translate }}:
            <span class="text-danger">{{
              "addExpense.form.dueDate.required" | translate
            }}</span>
          </label>
          <input
            type="date"
            formControlName="dueDate"
            name="dueDate"
            id="dueDate"
            class="form-control"
          />
        </div>
        }

        <button (click)="addExpense()" class="btn btn-success w-100">
          {{ "addExpense.form.submit" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
