<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Add New Expense</h5>
    </div>
    <div class="card-body">
      @if (isSuccess()) {
      <div class="alert alert-success" role="alert">
        Expense added successfully!
      </div>
      } @else if (isError()) {
      <div class="alert alert-danger" role="alert">
        Error adding expense. Please try again.
      </div>
      }
      <form [formGroup]="expenseForm">
        
        

        <div class="mb-3">
          <label for="name" class="form-label">
            Expense Name: <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            formControlName="name"
            name="name"
            id="name"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="payment" class="form-label">
            Monthly Payment: <span class="text-danger">*</span>
          </label>
          <input
            type="number"
            formControlName="payment"
            name="payment"
            id="payment"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="payment" class="form-label">
            Total Balance: 
          </label>
          <input
            type="number"
            formControlName="totalBalance"
            name="payment"
            id="payment"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="dueDate" class="form-label">
            Due Date: <span class="text-danger">*</span>
          </label>
          <input
            type="date"
            formControlName="dueDate"
            name="dueDate"
            id="dueDate"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">
            Category: <span class="text-danger">*</span>
          </label>
          <select
            formControlName="categoryId"
            name="categoryId"
            id="category"
            class="form-select"
            (change)="selectCategory(this.expenseForm.get('categoryId')?.value ?? 0)"
            required
          >
            @for (category of this.categories.value(); track $index) {
            <option [value]="category.id">{{ category.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="subcategory" class="form-label">
            Subcategory: <span class="text-danger">*</span>
          </label>
          <select
            formControlName="subcategoryId"
            name="subcategoryId"
            id="subcategory"
            class="form-select"
            required
          >
            @for (subcategory of subcategories(); track $index) {
            <option [value]="subcategory.id">{{ subcategory.name }}</option>
            }
          </select>
        </div>

        <button (click)="addExpense()" class="btn btn-success w-100">Add Expense</button>
      </form>
    </div>
  </div>
</div>
