<div class="d-flex justify-content-center align-items-center vh-100">
  <div
    class="card p-4 shadow"
    style="min-width: 300px; max-width: 400px; width: 100%"
  >
    <!-- Language Selector -->
    <div class="d-flex justify-content-end mb-3">
      <app-language-selector></app-language-selector>
    </div>

    <h2 class="text-center mb-4">{{ "auth.register.title" | translate }}</h2>
    @if(error()){

    <div class="alert alert-danger" role="alert">
      {{ error() }}
    </div>
    }

    <form (ngSubmit)="registerUser()" #form="ngForm">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          name="username"
          [placeholder]="'auth.register.username' | translate"
          required
          [(ngModel)]="username"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          name="email"
          [placeholder]="'auth.register.email' | translate"
          required
          [(ngModel)]="email"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          [placeholder]="'auth.register.password' | translate"
          required
          [(ngModel)]="password"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="confirmation"
          [placeholder]="'auth.register.confirmPassword' | translate"
          required
          [(ngModel)]="confirmation"
        />
      </div>
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">
          {{ "auth.register.registerButton" | translate }}
        </button>
      </div>
    </form>

    <p class="text-center mb-0">
      <a href="/login">{{ "auth.register.loginLink" | translate }}</a>
    </p>
  </div>
</div>
